<!DOCTYPE html>
<html lang="en">
    {% include "_head.html.twig" %}
<body class="{% block body_class %}{% endblock %}">

{% block body %}
{% if not client and settings.require_login %}
    <script>
        $(function () {
            bb.redirect('{{ "login"|link }}');
        });
    </script>
{% endif %}

{% if client %}
    {% set profile = client.profile_get %}
{% endif %}
{% set company = guest.system_company %}
    <div class="wrapper">
        <!-- Sidebar -->
        {% include "_side.html.twig" %}
        <div class="main-panel">
            {% include "kai_main_header.html.twig" %}
        <div class="container">
            <div class="page-inner">
                {% include "kai_page_header.html.twig" %}
                <div class="page-category">
                    <div class="container">
                    
                    {% block content_before %}{% endblock %}

                    {% block content %}{% endblock %}

                    {% include "partial_message.html.twig" %}

                    {% block content_after %}{% endblock %}

                    </div>                    
                </div>
            </div>
        </div>
        {% include "kai_footer.html.twig" %}
      </div>
    </div>
    {% include "kai_js.html.twig" %}
    <div class="toast-container justify-content-center"></div>
    {% if settings.footer_to_top_enabled %}
        <a href="#top" class="position-fixed btn btn-primary bottom-0 end-0 m-3">
            <span class="awe-arrow-up"></span> {{ 'Top'|trans }}</a>
    {% endif %}
    <div class="wait" style="display:none" onclick="$(this).hide();">
        <div class="spinner-border"
             style="width: 4rem; height: 4rem; top: 50%; left: 50%; position: fixed; z-index: 999"></div>
    </div>
    <noscript>NOTE: Many features on FOSSBilling require Javascript and cookies. You can enable both via your browser's preference settings.</noscript>

    {% endblock %}

    {% if settings.inject_javascript %}
        {{ settings.inject_javascript | raw }}
    {% endif %}
    {% include 'partial_pending_messages.html.twig' ignore missing %}
    {% if guest.extension_is_on({ "mod": "cookieconsent" }) %}
        {% include 'mod_cookieconsent_index.html.twig' ignore missing %}
    {% endif %}
</div>
{{ DebugBar_render() }}
</body>
</html>